if SHIELD_HELIX58_LEFT

config ZMK_KEYBOARD_NAME
    default "Helix58SW"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HELIX58_LEFT || SHIELD_HELIX58_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SLEEP
    default y

config ZMK_IDLE_SLEEP_TIMEOUT
    default 300000

config ZMK_BEHAVIOR_SOFT_OFF
    bool
    default y
    
endif
